/* Gen stuffies and font setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Bhaina 2', cursive;
}

body {
  display: flex;
  height: 100vh;
  background-color: #ffffff; 
}





/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #2BB8B3; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px;
  
  /* curved edge effect */
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Branding */
.brand h1 {
  font-family: "Changa One", sans-serif;
  font-size: 38px;
  color: #ffd633;
  text-shadow: 6px 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.brand p {
  font-size: 13px;
  line-height: 1.4em;
  color: #e8f6f5;
  margin-top: 5px;
  text-align: center;
}

/* Navigation buttons */
.menu {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  text-decoration: none;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  color: #000;
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: #fbd15b; 
  transition: 0.3s;
}

.btn.courses { background-color: #FFA0A3; }  
.btn.games { background-color: #FFA0A3; }    
.btn.profile { background-color: #7F8FA3; }   
.btn.settings { background-color: #1E1E1E; color: #fff;}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/* Contact desc */
.contact {
  font-size: 13px;
  color: #000;
}
/* Contact section */
.contact h3 {
  color: #000;
  font-family: 'Baloo Bhaina 2', cursive;
}




/* Main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;  /* Arrange childrn vertically */
    justify-content: flex-end; /* Push content to the bottom */
    background-color: #fff;
    color: #000;
    padding: 80px;
}

.about, .something {
    background-color: #fff;
    margin-bottom: 20px;  
    padding: 30px;
    border-radius: 8px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    font-size: 14px;
    line-height: 1.6em;
}